h1,
h2 {
  font-family: Lato;
}

.dropzone {
  margin: 10px;
  width: 500px;
  height: 100px;
  border: 2px dashed grey;
  background: lightgreen;
  text-align: center;
}

.dragover {
  margin: 10px;
  width: 500px;
  height: 100px;
  border: 2px dashed black;
}

.image {
  margin: 10px;
  width: 500px;
  height: 500px;
  border: 1px solid grey;
}

img {
  width: 500px;
  height: 500px;
}

input{
    margin: 10px;
}
