.barParent {
  border: 2px solid black;
  width: 80%;
}

.progressBar {
  width: 0%;
  height: 20px;
  background-color: cornflowerblue;
}

#interval {
  width: 10%;
  height: 25px;
}

body {
  /* background-image: linear-gradient(0deg, green, transparent); */
}

#progress {
  width: 150px;
  height: 25px;
  margin: 20px;
}
